
$colorPrincipal: #1D3557;
$colorNaranjo: #E57979;
$colorNaranjoLight: #e57979f6;
$colorCelesteClaro: #A8DADC;
$colorCelesteOscuro: #457B9D;
$colorPalido: #F1FAEE;
$colorPalidoLight: #e7f8e2;
$fuentePrincipal: 'Quicksand', sans-serif;